* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#app,
#display {
	width: 100%;
	height: 100%;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
}

#display {
	padding: 2.5%;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	#canvas {
		width: 100%;
	}
}

#canvas {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	max-height: 500px;
	border: 1px solid #d3d3d3;
}

.input-group {
	margin: 0.5rem 0;
}

input.equation {
	text-align: center;
}

.btn.visualize {
	display: block;
	margin: 2rem auto;
}

.hide {
	display: none;
}
